<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Posttrack.BLL.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Posttrack.BLL.Properties.Settings>
        <setting name="SmtpHost" serializeAs="String">
            <value>smtp.gmail.com</value>
        </setting>
        <setting name="SmtpPort" serializeAs="String">
            <value>587</value>
        </setting>
        <setting name="SmtpUser" serializeAs="String">
            <value>reply.posttrack@gmail.com</value>
        </setting>
        <setting name="SmtpPassword" serializeAs="String">
            <value>***********</value>
        </setting>
        <setting name="SmtpSecure" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="SmtpFrom" serializeAs="String">
            <value>reply.posttrack@gmail.com</value>
        </setting>
        <setting name="InactivityPeriodInMonths" serializeAs="String">
            <value>2</value>
        </setting>
        <setting name="HistoryRegex" serializeAs="String">
            <value>(\d{4}-\d{2}-\d{2}|\d{2}.\d{2}.\d{4}).+?(?=Label1"&gt;)[^&gt;]+&gt;(.+?(?=&lt;/span&gt;))(.+?(?=size="4"&gt;)[^&gt;]+&gt;([^&lt;]+))?</value>
        </setting>
        <setting name="HttpSearchUrl" serializeAs="String">
            <value>http://declaration.belpost.by/searchRu.aspx</value>
        </setting>
    </Posttrack.BLL.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>